name: CI - Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup .NET environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'

      - name: Restore Dependencies
        run: dotnet restore CICDddd.sln

      - name: Build Solution
        run: dotnet build CICDddd.sln --no-restore

      - name: Run Tests
        run: dotnet test CICDddd.sln --no-build --verbosity normal
